* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 50px;
    background: rgb(223, 244, 255);
    font-family: "Verdana", sans-serif;
}

.content {
    flex: 1;
    text-align: left; /* Aligns everything except <p> tags */
}

p {
    text-align: justify; /* Full justification for paragraphs */
}
